.blog {
  color: #858c99 !important;
}

.maincontainter {
  margin-bottom: 125px;
}
.carousel-item p {
  margin: 3px;
  font-size: 11px;
  padding-left: 12px;
}
.card-footer p {
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: 13px;
}
.logoimages {
  margin-bottom: 23px;
}
.card-footer {
  padding-top: 53px;
}
.textp {
  color: #29415a;
  font-family: "Maven Pro", sans-serif;
}
.pheader {
  color: white;
  font-weight: bold;
}
h1 {
  color: #29415a;
  font-family: "Maven Pro", sans-serif;
  margin-bottom: 34px;
}
.mainrow {
  padding-top: 80px;
}
.maincarousel {
  margin-bottom: 80px;
}
.textmain {
  color: #29415a;
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  margin-bottom: 59px;
}
.leftmain {
  text-align: left;
  padding-top: 19px;
}
.slider {
  margin-top: 140px;
}
.textbook {
  color: #858c99 !important;
}
.navtext {
  color: #858c99;
}
.home {
  color: #29415a !important;
}
.main {
  display: content;
}
.lineheight {
  line-height: 6px;
}
.firsttext {
  font-family: "Maven Pro", sans-serif;
  color: #29415a !important;
  font-size: 13px;
  font-weight: 500;
  margin-top: 12px;
}
.logoside {
  padding-top: 150px;
  text-align: center;
}
.secondtext {
  color: #858c99;
  font-size: 13px;
}
.rightpage {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 121px;
  padding-bottom: 87px;
}

.headtext {
  color: #29415a !important;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}
.paragraph {
  color: #29415a;
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  padding-right: 20px;
}
.learnmore {
  color: #ee434c;
  text-decoration: underline;
}
a:hover {
  color: #ee434c;
}

.imagetext {
  width: 100%;
  border-radius: 15px;
}

.account {
  color: #ee434c;
}
a:hover {
  color: #ee434c;
}
.navbar-collapse {
  margin-left: 50px;
}
.subscription-box {
  background-color: #faf9fd;
  padding: 55px;
  justify-content: center;
}
.subscribe-header {
  color: #29415A !important;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 32px;
}

.email-form {
  padding: 23px;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
}
.subscribee {
  display: flex;
  padding-top: 0;
}

.subscription-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #29415a;
  padding-top: 24px;
}
.subscribe-button {
  padding-top: 77px;
}
.subscribe-custom-button {
  background-color: #ee434c;
  color: white;
  padding: 21px 46px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  border-radius: 8px;
}
@media (max-width: 767px) {
  body {
    height: 100%;
    contain: content;
  }
  .icon {
    width: 88px;
  }
  .maincontainter {
    margin-bottom: 49px;
  }
  .rightpage {
    padding-top: 40px;
  }

  .logoside {
    padding-top: 100px;
  }
  .mainrow {
    padding-top: 80px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    padding: 0;
  }

  .slider {
    display: flex;
    justify-content: center;
    margin-top: 44px;
  }
  .container {
    width: 100%;
  }
  .cardicon {
    position: relative;
    right: 56px;
    width: 28px;
  }
  .toggler-right {
    position: absolute;
    right: 40px;
    padding: 0px;
  }
  .subscription-box {
    display: block;
    padding: 20px;
  }
  .image-class {
    display: flex;
    justify-content: center;
    padding: 30px 16px;
  }
  .subscribe-form {
    width: 100%;
    align-self: center;
  }
  .subscribee {
    display: block;
    padding: 0;
  }
  .subs {
    width: 100%;
  }
  .subscribe-custom-button {
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }
  .subscribe-button {
    /* padding: 20px 0; */
    padding-top: 50px;
    align-self: center;
  }
}

@media (min-width: 768px) {
  body {
    contain: content;
  }
  .container {
    width: 768px;
  }
  .rightpage {
  }
  .toggler-right {
    position: absolute;
    right: 50px;
  }
  .cardicon {
    padding-right: 88px;
  }
  .subscribe-custom-button {
    /* width: 100%; */
    justify-content: center;
  }
  .subscription-box {
    padding: 0;
  }
  .image-class {
    text-align: center;
  }
  .subscribe-form {
    width: 100%;
  }
  .subscribee {
    padding-top: 110px;
  }
}

@media only screen and (min-width: 980px) {
  .container {
    width: 980px;
  }
  .subscribee {
    padding-top: 0;
  }
  .subscription-box {
    padding: 55px;
  }

  @media only screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
}
